<a href="https://colab.research.google.com/github/sagihaider/BootCamp-Python/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Summer Boot Camp: Day 2, University of Essex
### Haider Raza, PhD
### Monday, September 21, 2021
### Approximate time: 180 minutes

***
## Learning Outcome Day 2

* Python Syntax 
* Variables and tips on variable names 
* Data Types 
* Data Structures
* Strings 
* Logic/Booleans
* Operators
* If/Else, While, For, Functions 
* OOP: Classes and inheritance

***

## Python Syntax

The Python language has many similarities to `Perl`, `C`, and `Java`. However, there are some definite differences between the languages.

Python statement ends with the token NEWLINE character (carriage return). It means each line in a Python script is a statement. The following Python script contains three statements in three separate lines.

```python
print('id: ', 1)
print('First Name: ', 'Steve')
print('Last Name: ', 'Jobs')
```
Use backslash character / to join a statement span over multiple lines, as shown below.

In [ ]:
if 100 > 99 and \
    200 <= 300 and \
    True != False:
        print('Hello World!')

### Variables
A name that is used to denote something or a value is called a variable. In python, variables can be declared and values can be assigned to it as follows,

In [ ]:

x = 2
y = 5
xy = 'Hello'

In [ ]:
print(x+y, xy)

7 Hello

In [ ]:
# Multiple variables can be assigned with the same value

x = y = 1

print(x,y)

1 1

### Operators

#### Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
1+2

3

In [ ]:
2-1

1

In [ ]:
1*2

2

In [ ]:
1/2

0.5

In [ ]:
15%10

5

In [ ]:
#Floor division is nothing but converting the result so obtained to the nearest integer.
2.8//2.0

1.0

## Relational Operators
| Symbol | Task Performed |
|----|---|
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [ ]:
z = 1

In [ ]:
z == 1

True

In [ ]:
z > 1

False

In [ ]:
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

In [ ]:
divmod(9,4)

(2, 1)

In [ ]:
pow(2,3)

8

## Print


In Python, single, double and triple quotes are used to denote a string. Most use single quotes when declaring a single character. Double quotes when declaring a line and triple quotes when declaring a paragraph/multiple lines.

In [ ]:
print('H')

H

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("""I am from Essex.
I love Python.""")

I am from Essex.
I love Python.

In [ ]:
string1 = "World"
print("Hello", string1)

Hello World

In [ ]:
string2 = '!'
print("Hello", string1, string2)

Hello World !

In [ ]:
print("Hello" + string1 + string2)

HelloWorld!

In [ ]:
print("Hello %s" % string1)

Hello World

In [ ]:
print("Actual Number = %d" %18)
print("Float of the number = %f" %18)

Actual Number = 18
Float of the number = 18.000000

In [ ]:
print("Hello %s %s" %(string1,string2))

Hello World !

## Python: Data Types

In programming, data type is an important concept. `Variables` can store data of different types, and different types can do different things. Python has the following data types built-in by default, in these categories:


|   Type          |  Syntax   | 
|-----------------|---------- |
| Text Type:      | 	`str`     | 
| Numeric Types:  |  `int`, `float`, `complex`         |
| Sequence Types: |  `list`, `tuple`, `range`         |
| Mapping Type:   |  `dict`         |
| Set Types:      |  `set`, `frozenset`         |
| Boolean Type:   |  `bool`         |
|  Binary Types:  |  `bytes`, `bytearray`, `memoryview`      |



You can get the data type of any object by using the type() function:

In [1]:
x = 20
type(x)

int

In [2]:
# str type
x = "Hello Essex" 
print(type(x))

# int type
x = 100	
print(type(x))

# float type
x = 100.5	
print(type(x))

# complex type
x = 1j
print(type(x))

# list type
x = ["I", "Love", "Essex"]	
print(type(x))

# tuple 
x = ("I", "Love", "Data Science")	
print(type(x))

# range type
x = range(10)	
print(type(x))

# dictonary type
x = {"name" : "Haider", "age" : 36}		
print(type(x))

# set type
x = {"BWM", "Audi", "Honda"}	
print(type(x))

# frozen set type
x = frozenset({"England", "Wale", "Scotland", "Northern Ireland"})
print(type(x))

# bool type
x = True
print(type(x))

# bytes type
x = b"Hello"
print(type(x))

# bytearray
x = bytearray(3)
print(type(x))

# memoryview 
x = memoryview(bytes(5))
print(type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>
<class 'memoryview'>

### Do you know, we can convert or set data types:

If you want to specify the data type, you can use the following constructor functions:

In [3]:
# Setting x to string
x = str("Hello Essex")

# setting x to integer
x = int(20)

# setting x to float
x = float(20.5)		

# setting x to list
x = list(("apple", "banana", "cherry"))